		.tab-skill {
			background: white;
			box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.2);
			border-radius: 10px;
			padding: 10px 4% 10px;
		}
		.progress-001 {
			border: 1px solid gray;
			width: 100%;
			height: 10px;
			border-radius: 10px;
/*			overflow: hidden;*/
			display: flex;
		}
		.progress-001 > span {
			margin-top: -5px;
/*			position: absolute;*/
		}
		.progress-001 > div {
			background: gray;
			/*margin-top: -5px;*/
/*			position: absolute;*/
		}
		.icon-all {
			width: 30px;
			height: 30px;
		}
		.photo {
			width: 80%;
			height: 100%;
			border-radius: 10px;
		}
		.html5 {
			width: 70%;
			height: 100%;
			border-radius: 10px;
		}
		.css {
			width: 50%;
			height: 100%;
			border-radius: 10px;
		}
		.js {
			width: 44%;
			height: 100%;
			border-radius: 10px;
		}
		.fig {
			width: 60%;
			height: 100%;
			border-radius: 10px;
		}
